<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= head.title %></title>
        
<link href="/webgallery/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/webgallery/bootstrap-table/bootstrap-table.min.css">
<link href="/webgallery/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
<meta name="theme-color" content="#7952b3">

<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
</style>

<script src="/webgallery/js/jquery-3.6.0.min.js"></script>
<script src="/webgallery/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/webgallery/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/webgallery/bootstrap-table/locale/bootstrap-table-en-US.min.js"></script>